

body
{
font-family: Gotham;
background-color:"#F5F5DC";

}

.navigation{
background-color:#3B5998;
margin-left:10px;
    width:91%;
    height:50px;
    position:relative;left:300px;top:-8px;
    max-width: 700px;
    min-width: inherit;
    padding-top:5px;
    margin-left:10px;
    margin:inherit;
    color:white; 
    white-space: nowrap;
    border-radius:8px;
}

label
{
margin-top:20px;    
}

input
{
 margin-top:20px;   
}

fieldset
{
 width:410px;   
}

.navigation a{
 
text-decoration: none;
}

.MainContentMoved
{

}

.AlignToCenter
{
   position:relative;left:205px;
height:500px;  
    margin:40px; /*space outside something ie space between div class*/
    width:820px; 
}

.MoveToRight
{
 /*position:relative;left:70px;top:-50px;   */
}

#tombstoneVid /*video of undetaker doing TS on 10 finishers*/
{
 position:relative;left:490px;top:-470px;   
}

#hiddenfacts
{
 display: none;   
}

#homepageCenter
{
background-color:#F9F2F2;
height:200px;
position:relative;top:50px;
width:890px;
left:300px;
    
}

#WWEJokes
{
background-color:#F8E0EC;
height:200px;
position:relative;top:50px;
}

#listofjokes
{
 display:block;   
}

#headingWelcome
{
    position:relative;left:00px;
}

.homepageText
{
    position:relative;left:00px;
    width:800px;
    max-width:60%;
}

#homepageContent
{
width:300px;
color:yellow;    
}

.links {
position:relative;top:10px;
font-family: Gotham;
margin:5px;
margin-bottom:10px;

border-radius:7px;
left:60px;
display:inline;
-webkit-transition:color;
-webkit-transition-duration: 4s;
-moz-transition-property:color;
-moz-transition-duration:4s;
transition-property: color; 
transition-duration:0.2s; 
}
#safety
{
 display:block;  
    
border:3px solid black;
border-radius:6px;
position:relative;left:210px;top:200px;
width:500px;
}

.links a 
{
 text-decoration: none; 
margin:5px;
    color:white;
}

.links:hover{
 color:red;   
}

#AboutUs /*About us text on About Us page*/
{
border:3px solid black;
border-radius:6px;
position:relative;left:210px;top:100px;

}

.nav a:hover{ 
color: #87CEEB;
border-radius: 30%;
    
}

#ContactEmail
{
 position:relative;
left:300px;
width:40%;

}

.twitterLink
{
width:50px;
margin:10px;
padding:5px; /*makes 10px of space from border*/
border-radius:9px;

}

.twitterLink:hover
{
border:2px solid #4099FF;  
}

.titlelist
{
width:200px;   
}
.imgHover
{
max-width: 40%;
-webkit-transition: opacity 0.7s ease-in 0s;
-moz-transition: opacity 0.7s ease-in 0s;
-o-transition: opacity 1.5s ease-in 0s;
transition: opacity 0.7s ease-in 0s;
}

.imgHover:hover{
 opacity:0.7;   
    
}

.showWrestlers /* menu for choosing wrestlers on the left*/
{
position:absolute;top:80px;left:20px;
width:110px;  
}

.wrestlers
{
list-style-type: none;
display:none; /*invisible at load but will show when menu button is clicked*/
line-height:25.5px;   
}

.wrestlers
{
background-color:#3B5998;  
border-radius:8px;
}

.wrestlers a
{
 text-decoration: none;   
    color:white;
}

.navigateContent /*moved content more to the right*/
{
    position:relative;left:200px;
    width:57%;
}

#shawn
{
 position:relative;top:-300px;
}

.ShawnMichaelsSCM
{
width:300px;    
}
.ShawnMichaelsSCM img {
display:block;
    margin: 0 auto;
}

.oneWrestler /*1 The Rock*/
{
    position:relative;top:45px;left:20px;
    font-family: ADAM.CG PRO;
    height:375px;
    
}

.titlelist
{
list-style-type: none;    
}


#centerheading /* top 10 wrestlers text*/
{
 position:relative;top:30px;
    left:35%;
}

#moveArrow /*Arrow by side of menu nav to showcase which way information will show*/
{
 position:relative;top:-28px;left:47px;
}

#championships
{
     position:relative;top:50px;
    left:35%;
}

.rockStats /*stats for wrestlers*/
{
    
    position: relative;left:300px;top:-310px;
}

.wwePic
{
 list-style-image: url('wwe.png');   
}

#menuShow
{
border:2px solid black;
border-radius:3px;
    text-decoration: none;
}